<div class="fixed w-full h-20 bg-white/30 backdrop-blur-sm z-50">
    <div class="mx-auto flex flex-row justify-between">
        <a href="/">
            <img class="w-12" src="/logo.png" alt="ESLAND Awards Logo - Premios a la comunidad hispanohablante de streaming">
        </a>
        
    </div>

</div>